In [86]:
import pandas as pd
import os

In [87]:
def prepare_file(data):
    data.rename(columns={'HOURBEGINNING_TIME' : 'timestamp', 'JCPL' : 'price'}, inplace=True)
    data['timestamp'] = pd.to_datetime(data['timestamp'], format='%d-%b-%Y %H:%M:%S')
    data['price'] = data['price'].apply(lambda x: float(x.replace('$', '')))
    data.sort_values(by='timestamp', inplace=True)
    data.reset_index(inplace=True)
    data.drop(columns=['index'], inplace=True)

    return data

In [88]:
final_data = pd.read_csv('/Users/artemiyshvetsov/Desktop/DIPLOMA/JCPL_PJM/2017-11-17_2017-12-31.csv')
sum = len(final_data)
final_data = prepare_file(final_data)

files = os.listdir('JCPL_PJM/')

for elem in files:
    if elem != '2017-11-17_2017-12-31.csv':
        data = pd.read_csv('JCPL_PJM/' + elem)
        data = prepare_file(data)
        final_data = pd.concat([final_data, data])

final_data.sort_values(by='timestamp', inplace=True)

In [89]:
len(final_data)

36079

In [90]:
final_data.reset_index(inplace=True)
final_data = final_data.drop(columns=['index'])
final_data

                timestamp  price
0     2017-11-17 00:00:00  21.68
1     2017-11-17 01:00:00  20.95
2     2017-11-17 02:00:00  20.46
3     2017-11-17 03:00:00  20.45
4     2017-11-17 04:00:00  21.58
...                   ...    ...
36074 2021-12-31 19:00:00  22.60
36075 2021-12-31 20:00:00  21.45
36076 2021-12-31 21:00:00  20.56
36077 2021-12-31 22:00:00  23.98
36078 2021-12-31 23:00:00  21.67

[36079 rows x 2 columns]

In [91]:
final_data.to_csv('JCPL_PJM_2017_2021.csv', index=False, sep=',')